@import '_normalize';
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,600,500);

@mixin heading() {
  margin-bottom: 48px;
  margin-top: 0;
  padding-top: 48px;
  font-size: 2rem;
}

html {
  background-image: url(http://p1.pichost.me/i/57/1814407.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: fixed;
  background-size: cover;
  box-sizing: border-box;
  font-size: 62.5% //10px = 1rem//
}

*,*:after,*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

 ul {
   list-style: none;
   padding: 0;
 }
  li {
    margin: 8px;
    font-size: 1.5rem;
  }


.main-interface {
  max-width: 1300px;
  height: 900px;
  background-color: rgba(0,0,0, .6);
  margin: 32px auto;
  .sidebar {
    width: 200px;
    height: 800px;
    background-color: rgba(0,0,0, .65);
    border-right: 1px solid rgba(255,255,255, .65);
    color: #fff;
    .filter-options {
      padding-left: 20px;
      .filter-header {
      @include heading;
      border-bottom: 1px solid rgba(255,255,255, .65);
      padding-bottom: 32px;
      }
      // input[type=submit] {
      //   background-color: #4CAF50;
      //   color: white;
      //   font-weight: bold;
      //   border:none;
      //   padding: 8px 16px;
      //
      // }
      input[type=text] {
        border:none;
        border-radius: 20px;
        padding: 8px;
        margin-bottom: 32px;
        color: #333;
        font-size: 1.25rem;
        &:focus {
          background-color: #f9f9f9;
        }
      }
    }
    .saved-filters {
      padding-left: 20px;
        .saved-filters-header {
            @include heading;
            border-bottom: 1px solid rgba(255,255,255, .65);
            padding-bottom: 32px;
        }
    }
  }
  .navbar {
    width: 1300px;
    height: 100px;
    background-color: rgba(0,0,0,.65);
    border-bottom: 1px solid rgba(255,255,255, .65);
  }
}
// .bottom {
//   width: 1300px;
//   height: 150px;
//   background-color: rgba(0,0,0, .55);
// }
